/**
 * Style to make the full screen mode fit inside the top and left sides of SilverStripe
 */
.editor-toolbar.fullscreen {
    top: 52px;
    left: 160px;
}

.CodeMirror-fullscreen {
    top: 102px;
    left: 160px;
    bottom: 53px;
}


#close {
    width: 13px;
    height: 13px;
    text-indent: 0;
    top: -7px;
    right: -7px;
    border: 4px #bbb solid;
    background: #fff;
    font-size: 20px;
    border-radius: 22px;
    padding: 6px;
    line-height: 10px;
}
