/**
 * Style to make the full screen mode fit inside the top and left sides of SilverStripe
 */
.editor-toolbar.fullscreen {
    top: 52px;
    left: 160px;
}

.CodeMirror-fullscreen {
    top: 102px;
    left: 160px;
    bottom: 53px;
}
